@font-face {
	font-family: 'metro';
	src: url(https://frc4131.github.io/res/fonts/metro-webfont.woff2) format('woff2'),
			 url(https://frc4131.github.io/res/fonts/metro-webfont.woff) format('woff'),
			 url(https://frc4131.github.io/res/fonts/metro-webfont.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
html {
  background-color: black;
}
#content a {
  color: #0baffd;
  transition: 0.3s;
  text-decoration: none;
	font-family: 'metro';
}
#content a:hover {
  color: #afecff;
	font-family: 'metro';
}
#content a:active {
  color: #afecff;
	font-family: 'metro';
}
.section {
  background-color: #011f4f;
  color: white;
}
.section > * {
  margin-bottom: 1rem;
}
.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
  color: #33910c;
  font-family: 'metro';
}
.section h1:not(.section-title),
.section h2:not(.section-title),
.section h3:not(.section-title),
.section h4:not(.section-title),
.section h5:not(.section-title),
.section h6:not(.section-title) {
  margin-top: 1em;
  color: #33910c;
  font-family: metro;
}
.section h1 {
  font-size: 3em;
}
.section h2 {
  font-size: 2.5em;
}
.section h3 {
  font-size: 2.2em;
}
.section h4 {
  font-size: 1.9em;
}
.section h5 {
  font-size: 1.6em;
}
.section h6 {
  font-size: 1.3em;
}
.section table {
  border-collapse: collapse;
}
.section table > tbody > tr > * {
  border: 1px solid white;
  padding: 0.2em 0.5em;
}
.section img {
  max-width: 100%;
}
.section + .section {
  margin-top: 100px;
}
.section-title {
  text-align: center;
  margin-top: 0px;
}
.alert,
.note,
.warning {
  width: 100%;
  padding: 1em 1em;
  border-left-width: 5px;
  border-left-style: solid;
}
.alert::before,
.note::before,
.warning::before {
  font-weight: bold;
  font-size: 1.1em;
}
.note {
  background-color: #569;
  border-color: #29F;
}
.note::before {
  content: 'Note: ';
}
.warning {
  background-color: #960;
  border-color: #FC0;
}
.warning::before {
  content: 'Warning: ';
}
.card-set {
  text-align: center;
}
.card {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  min-height: 300px;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #444;
  box-shadow: 0px 4px 8px 0px rgba(11, 175, 253, 0.9);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(11, 175, 253, 0.9);
}
.card > .img-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.card > .img-container > img {
  position: absolute;
  margin: auto;
  height: 100%;
  left: -100%;
  right: -100%;
  max-width: unset;
}
.card > p {
  font-size: 1.5em;
}
.parallax > img {
  background-color: white;
}
