*:not(ol, ul) {
  margin: 0;
  padding: 0;
}
@font-face {
  	font-family: 'metro';
  	src: url(https://frc4131.github.io/res/fonts/Metro.eot),
  	src: url(https://frc4131.github.io/res/fonts/Metro.otf),
  	src: url(https://frc4131.github.io/res/fonts/Metro.svg),
  	src: url(https://frc4131.github.io/res/fonts/Metro.tff),
  	src: url(https://frc4131.github.io/res/fonts/Metro.woff),
  	src: url(https://frc4131.github.io/res/fonts/Metro.woff2);
  	font-weight: normal;
  	font-style: normal;

    font-family: 'khmer';
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.eot),
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.otf),
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.svg),
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.tff),
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.woff),
  	src: url(https://frc4131.github.io/res/fonts/KhmerUI.woff2);
  	font-weight: normal;
  	font-style: normal;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: black;
  z-index: 2;
}
#header > *,
#site-icon {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#site-nav {
  margin-left: 20px;
}
#site-nav > a {
  display: inline-block;
  height: 100%;
  color: #33910c;
  transition: color 0.25s;
  text-decoration: none;
  font-family: 'metro';
  font-size: 30px;
  line-height: 80px;
  margin-right: 20px;
}
#site-nav > a:hover {
  color: #0baffd;
}
#site-nav > a:active {
  color: #afecff;
}
#social-nav {
  float: right;
  margin-right: 10px;
}
#social-nav > a {
  display: inline-block;
  height: 60%;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 95% 5% 95% 5%;
  transition: border-radius 0.25s;
  overflow: hidden;
}
#social-nav > a:hover {
  border-radius: 50% 50% 50% 50%;
}
#social-nav > a > img {
  height: 100%;
}
#social-nav > a.twitter {
  background-color: #73bdf0;
}
#content {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  font-family: 'khmer';
}
.section {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 2em 10%;
  z-index: 1;
}
