body {
  background-color: black;
}
#nav {
  height: 60px;
  width: 100%;
  text-align: right;
}
a.navLink {
  font-size: 32px;
  color: #33910c;
  text-align: right;
  transition: 0.3s;
  text-decoration: none;
}
a.navLink:hover {
  font-size: 34px;
  color: white;
  text-decoration: none;
}
.contentBox {
  background-color: black;
  width: 100%;
  justify-content: center;
}
.sectionTitle {
  color: #33910c;
  text-align: center;
}
.sectionContent {
  color: white;
  text-align: left;
}
a.sectionLink {
  color: white;
  transition: 0.3s;
  text-decoration: underline;
}
a.sectionLink:hover {
  color: #1a3089;
  text-decoration: underline;
  size: 105%;
}
#error {
  text-align: center;
  color: white;
}
